/* =======GERAL======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --paragraph-color: hsl(0, 0%, 100%);
  --title-color: hsl(231, 95%, 8%);

  --button-color: #4264eb;
  --button-hover-color: hsl(230, 57%, 50%);

  --color-animation-1: #1e3c72;

  --color-animation-2: #2a5298;

  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::selection {
  background: var(--button-color);
}

.wrapper {
  width: min(30rem, 100%);
  margin-inline: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
}

body,
html {
  width: 100vw;
  height: 100vh;

  scroll-behavior: smooth;
  overflow: auto;
}

body {
  background: linear-gradient(to right, #373b44, #4286f4);

  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;

  font-family: "Roboto", sans-serif;
  text-align: center;
}

a {
  color: var(--paragraph-color);
}

img {
  width: 10rem;
  height: 10rem;
}

/* =======CARD======== */

.card {
  margin-top: 6.4rem;
  padding: 2rem;

  background: url(/assets/circle-scatter-haikei.svg) center;

  border-radius: 0.9rem;

  box-shadow: 0px 1.3px 2.7px rgba(0, 0, 0, 0.028),
    0px 3.2px 6.9px rgba(0, 0, 0, 0.04), 0px 6.4px 14.2px rgba(0, 0, 0, 0.05),
    0px 13.3px 29.2px rgba(0, 0, 0, 0.062), 0px 38px 80px rgba(0, 0, 0, 0.09);
}

.card:hover h1,
.card:hover p {
  color: var(--paragraph-color);
}

.card:hover img {
  border: 0.4rem solid var(--button-color);
}

.profile img {
  padding: 0.3rem;

  border-radius: 100%;

  transition: 0.8s;
}

.profile h1 {
  margin-top: 2.4rem;
  margin-bottom: 0.8rem;

  font-family: "Roboto";
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.8rem;

  color: var(--title-color);

  transition: color 2s;
}

.profile p {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;

  color: var(--title-color);

  opacity: 0.8;

  transition: color 2s;
}

.profile-links ul li a {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.4rem;

  background: var(--button-color);
  border-radius: 0.6rem;

  padding: 1.6rem 9.5rem;
  margin-block: 1.6rem;

  font-weight: 700;
  font-size: 1.6rem;
  line-height: 150%;

  transition: background 0.4s;
}

.profile-links ul li a:nth-last-child(1) {
  margin-bottom: 0;
}

.profile-links ul li a:hover {
  background: var(--button-hover-color);

  box-shadow: 0.3px 0.3px 4px rgba(0, 0, 0, 0.036),
    0.9px 0.9px 13.3px rgba(0, 0, 0, 0.054), 4px 4px 65px rgba(0, 0, 0, 0.09);
}

/* =ICON= */
.profile-links i {
  color: #fff;
}

/* =======FOOTER======== */

footer p {
  margin-top: 4.8rem;

  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  -web-kit-animation: changeColors 2s normal infinite;
  animation: changeColors 2s normal infinite;
}

/* =======ANIMATIONS======== */

@keyframes changeColors {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
    color: var(--paragraph-color);
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes color-change-2x {
  0% {
    background: var(--color-animation-1);
  }

  100% {
    background: var(--color-animation-2);
  }
}
@keyframes color-change-2x {
  0% {
    background: var(--color-animation-1);
  }

  100% {
    background: var(--color-animation-2);
  }
}
